---

- lineinfile:
    path: ~/.tar-exclude
    create: True
    line: "{{ item }}"
  loop:
    - ./.tar-exclude
    - ./.cache
    - ./.bash_logout
    - ./.bash_profile
    - ./.bashrc
    - ./thinclient_drives

- lineinfile:
    path: ~/.tar-exclude
    create: True
    line: ./.bashrc.d

- copy:
    dest: ~/.bashrc.d/
    src: _bashrc.d/cli.sh

- import_tasks: git.yml

- import_tasks: nvim.yml

- import_tasks: x11.yml

- tags: extdep
  become: True
  command:
    cmd: dnf copr enable -y mmu/mmu-dist-rpms
    creates: /etc/yum.repos.d/_copr:copr.fedorainfracloud.org:mmu:mmu-dist-rpms.repo

- tags: extdep
  become: True
  dnf:
    enablerepo: mmu/mmu-dist-rpms
    name:
      - pandoc-dist
      - java
      - okular
      - weasyprint
      - rcs
      - openssl
      - sshuttle
      - podman
      - buildah
      - jq
      - yq
      - graphviz
      - parallel

- file:
    state: directory
    path: ~/.local/share/java/

- community.general.github_release:
    user: plantuml
    repo: plantuml
    action: latest_release
  register: _plantuml_release

- get_url:
    url: https://github.com/plantuml/plantuml/releases/download/{{ _plantuml_release.tag }}/plantuml.jar
    dest: ~/.local/share/java/plantuml.jar

- copy:
    dest: ~/.bashrc.d/
    src: _bashrc.d/pandoc.sh

- copy:
    dest: ~/.bashrc.d/
    src: _bashrc.d/ansible.sh

- copy:
    dest: ~/.bashrc.d/
    src: _bashrc.d/ansible-navigator.sh

