- file:
    state: directory
    path: ~/.config/nvim/autoload
- get_url:
    url: https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
    dest: ~/.config/nvim/autoload/plug.vim
- copy:
    dest: ~/.config/nvim/init.vim
    src: _config/nvim/init.vim
- lineinfile:
    path: ~/.tar-exclude
    create: True
    line: ./.config/nvim
