---

- lineinfile:
    path: ~/.tar-exclude
    create: True
    line: ./.config/parcellite/parcelliterc

- copy:
    dest: ~/.config/parcellite/parcelliterc
    src: parcelliterc

- lineinfile:
    path: ~/.tar-exclude
    create: True
    line: ./.config/i3

- patch:
    basedir: ~/.config/i3/
    src: _config/i3/config.patch
    backup: true

- blockinfile:
    dest: ~/.config/i3/config
    content: |
      bindsym $mod+x move workspace to output next
      bindsym $mod+Shift+minus move scratchpad
      bindsym $mod+minus scratchpad show
      exec --no-startup-id parcellite

- lineinfile:
    path: ~/.tar-exclude
    create: True
    line: ./.Xdefaults

- copy:
    dest: ~/.Xdefaults
    src: _Xdefaults

