set -o vi

alias h='history'
alias r='fc -e -'
alias v='vim -S ~/.vimsession.vim'
alias g='gvim -S ~/.vimsession.vim'
function lv { vim "+lv /$1/ ***"; }

PROMPT_COMMAND="history -a; $PROMPT_COMMAND"
HISTSIZE=100000
HISTFILESIZE=1000000

export TZ=Europe/Berlin
