
module loc_vpnc 1.0;

require {
	type cert_t;
	type etc_t;
	type vpnc_t;
	class dir write;
	class file write;
}

#============= vpnc_t ==============
allow vpnc_t cert_t:dir write;
allow vpnc_t etc_t:file write;
